# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: bash setup.sh 
  displayName: 'setup my-environment'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'
  
  - task: CopyFilesOverSSH@0
    inputs:
      sshEndpoint: 'su-DevOps@127.0.0.1'
      sourceFolder: 'web/'
      contents: '**'
      targetFolder: '/var/www/html'
      readyTimeout: '20000'


